/* logo */
.login span:first-child{
    text-indent: 60px;
}
#logos{
    position: relative;
}
#logos>img{
    position: absolute;
    top: -48px;
    left: 0;
}
#logos>p{
    text-indent: 290px;
    margin-top: 20px;
    line-height: 57px;
}

#logos>span{
    color: #a5a5a5;
    
}

.content p{
    width: 398px;
    height: 42px;
    line-height: 42px;
    margin-top: 48px;
    border: 1px solid #d9d9d9;
    margin-left: 400px;
    text-indent: 10px;
}
.content .btn{
    width: 398px;
    height: 42px;
    line-height: 42px;
    margin-top: 38px;
    border: 1px solid #d9d9d9;
    margin-left: 400px;
    background: #ff6700;
    color: #fdffff;
    font-size: 20px;
}
.content input{
    line-height: 42px;
    border: 0;
    float: right;
    margin-right: 126px;
    outline: none;
}
#innerp{
    width: 124px;
    height: 36px;
    line-height: 36px;
    background: #1a83e5;
    text-align: center;
    position: absolute;
    top: 323px;
    left: 270px;
    color: #fff;
    font-size: 20px;
}

#inner1p{
    width: 124px;
    height: 36px;
    line-height: 36px;
    background: #e6e6e6;
    text-align: center;
    position: absolute;
    top: 415px;
    left: 270px;
    color: #4d4d4d;
    font-size: 16px;
}
#color-input-red +label{
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    cursor: pointer;
    position: absolute;
    top: 520px;
    left: 400px;
    background: #fff;
    border: 1px solid #d9d9d9;
}

#color-input-red:checked +label::before{
    display: block;
    content: "\2714";
    text-align: center;
    font-size: 16px;
    color: #000;
}
input[type=checkbox]{
	visibility: hidden;
}
.box{
    height: 14px;
    margin-top: 15px;
    margin-left: 422px;
    color: #a0a0a0;
}
.box a{
    color: #ff6701;
}